/* .super{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
} */
.heading{
    margin:0 30px;
 }
 .para{
  margin:8px 30px;
 }
.parent{
  width:1000px;
  height: 10px;
  background-color: blue;
  display: flex;
}
.image{
  width:30px;
  height: 30px;
}